<div class="container-fluid">
  <div class="row">
    <div
      [ngStyle]="{
        display: screenWidth < 768 && selectedMovieID ? 'none' : 'block'
      }"
      class="col-md-3 col-lg-2 d-md-block pt-3 movie-list-style"
    >
      <app-movie-list
        (selectedMovieID)="handleMovieSelection($event)"
        (moviesLoaded)="handleMoviesLoad($event)"
        [searchQuery]="searchQuery"
      ></app-movie-list>
    </div>
    <div
      [ngStyle]="{
        display: handleMovieDetailsVisibility()
      }"
      class="col-md-9 col-lg-10 ml-sm-auto col-lg-10 px-md-4"
    >
      <app-movie-details
        [selectedMovieID]="selectedMovieID"
        [moviesLoaded]="moviesLoaded"
        (backToList)="handleBackToList()"
      ></app-movie-details>
    </div>
  </div>
</div>
