.movie-title {
  font-size: 1.5rem;
}

.movie-genre {
  border: 2px solid;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 0.25rem 0.75rem;
}

.card-body {
  padding: 0 25px;
}

.company-logo {
  width: 80px;
  margin: 0.5rem;
}

@media (max-width: 767px) {
  .text-center-sm {
    text-align: center;
  }

  .img-thumbnail {
    margin: 50px;
    width: 85%;
    height: 85%;
  }

  .mt-sm {
    margin-top: 1.5rem;
  }

  .mb-sm {
    margin-bottom: 1rem;
  }
}
