<div class="pt-4" *ngIf="selectedMovie">
  <div class="pb-4">
    <a
      class="movie-title"
      href="{{ 'https://www.imdb.com/title/' + selectedMovie.imdb_id }}"
      >{{ selectedMovie.title }}</a
    >
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <img
          src="{{ selectedMovie.poster_path || './assets/no-movie-image.png' }}"
          alt="{{ selectedMovie.title }}"
          class="card-img-top img-thumbnail"
        />
        <div class="card-body">
          <div>
            <strong>Released:</strong>
            <p>{{ selectedMovie.release_date | date: "dd MMM YYYY" }}</p>
          </div>
          <div>
            <strong>Duration:</strong>
            <p>{{ selectedMovie.runtime }} minutes</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="mb-3">
        <strong>Original spoken language: </strong>
        <span>{{ originalSpokenLanguage }}</span>
      </div>
      <div class="mb-3">
        <span
          class="mr-2 movie-genre"
          *ngFor="let genre of selectedMovie.genres"
          >{{ genre.name }}</span
        >
      </div>
      <div>
        <strong>Overview: </strong>
        <p>{{ selectedMovie.overview }}</p>
      </div>
      <div>
        <strong>Spoken languages: </strong>
        <p>{{ spokenLanguages }}</p>
      </div>
      <div *ngIf="productionCountries">
        <strong>Production countries: </strong>
        <p>{{ productionCountries }}</p>
      </div>
      <div class="mb-3" *ngIf="selectedMovie.production_companies?.length > 0">
        <strong>Production companies: </strong>
        <div class="row">
          <div
            class="col-4"
            *ngFor="let company of selectedMovie.production_companies"
          >
            <img
              src="{{ company.logo_path || './assets/no-movie-image.png' }}"
              alt="{{ company.name }}"
              class="company-logo"
            />
            <span>{{ company.name }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <strong>Budget: </strong>
          <span>{{ selectedMovie.budget | currency }}</span>
        </div>
        <div class="col-3">
          <strong>Revenue: </strong>
          <span>{{ selectedMovie.revenue | currency }}</span>
        </div>
      </div>
      <div class="d-flex flex-row-reverse">
        <div class="col-3">
          <div class="text-center">
            <strong>{{ rateFiveStars }} / 5</strong>
          </div>
          <div class="text-center">
            <rating
              [(ngModel)]="rateFiveStars"
              [max]="5"
              [readonly]="true"
              [customTemplate]="ratingCustomTemplate"
            ></rating>
          </div>
          <div class="text-center">
            <strong>Ratings: </strong>
            <span>{{ selectedMovie.vote_count }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #ratingCustomTemplate let-i="index" let-v="value">
  <i
    [ngClass]="i < v ? 'fa fa-star fa-2x' : 'fa fa-star-o fa-2x'"
    [ngStyle]="{ color: i < v ? '#fcd303' : 'none' }"
  ></i>
</ng-template>
