<div class="pt-4" *ngIf="selectedMovie && moviesLoaded">
  <div class="pb-4 text-center-sm sm-device-style">
    <a
      class="movie-title secondary-color pointer-cursor"
      (click)="backToListEvent()"
      >Back to movie list</a
    >
  </div>
  <div class="pb-4 text-center-sm">
    <a
      class="movie-title"
      href="{{ 'https://www.imdb.com/title/' + selectedMovie.imdb_id }}"
      >{{ selectedMovie.title }}</a
    >
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img
          src="{{ selectedMovie.poster_path || './assets/no-movie-image.png' }}"
          alt="{{ selectedMovie.title }}"
          class="card-img-top img-thumbnail"
        />
        <div class="card-body text-center-sm">
          <div>
            <strong>Released:</strong>
            <p>{{ selectedMovie.release_date | date: "dd MMM YYYY" }}</p>
          </div>
          <div>
            <strong>Duration:</strong>
            <p>{{ selectedMovie.runtime }} minutes</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="mb-3 text-center-sm mt-sm">
        <span
          class="mr-2 movie-genre"
          *ngFor="let genre of selectedMovie.genres"
          >{{ genre.name }}</span
        >
      </div>
      <div class="mb-3 mt-sm">
        <strong>Original spoken language: </strong>
        <span>{{ originalSpokenLanguage }}</span>
      </div>
      <div>
        <strong>Overview: </strong>
        <p>{{ selectedMovie.overview }}</p>
      </div>
      <div>
        <strong>Spoken languages: </strong>
        <p>{{ spokenLanguages }}</p>
      </div>
      <div *ngIf="productionCountries">
        <strong>Production countries: </strong>
        <p>{{ productionCountries }}</p>
      </div>
      <div class="mb-3" *ngIf="selectedMovie.production_companies?.length > 0">
        <strong>Production companies: </strong>
        <div class="row">
          <div
            class="col-sm-2 card no-border"
            *ngFor="let company of selectedMovie.production_companies"
          >
            <img
              src="{{ company.logo_path || './assets/no-movie-image.png' }}"
              alt="{{ company.name }}"
              class="card-img-top company-logo"
            />
            <div clas="card-body">
              <span>{{ company.name }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-md">
        <div class="col-md-4">
          <strong>Budget: </strong>
          <span>{{ selectedMovie.budget | currency }}</span>
        </div>
        <div class="col-md-4">
          <strong>Revenue: </strong>
          <span>{{ selectedMovie.revenue | currency }}</span>
        </div>
      </div>
      <div class="d-flex flex-row-reverse mt-sm mb-sm">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div class="text-center">
            <strong>{{ rateFiveStars }} / 5</strong>
          </div>
          <div class="text-center">
            <rating
              [(ngModel)]="rateFiveStars"
              [max]="5"
              [readonly]="true"
              [customTemplate]="ratingCustomTemplate"
            ></rating>
          </div>
          <div class="text-center">
            <strong>Ratings: </strong>
            <span>{{ selectedMovie.vote_count }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="pt-4 text-center info-page-style"
  *ngIf="!selectedMovie && moviesLoaded"
>
  <h3>Welcome to Movies Client!</h3>
  <br />
  <h5>
    The page initially loads the most popular movies nowadays, the list of which
    can be seen on the left of the page.
  </h5>
  <br />
  <h5>
    To view the details of each movie just click on the name of each movie on
    the left of the page.
  </h5>
  <br />
  <h5>
    To search for movies by title, actors' names, category etc., just type on
    the field on the top of the page and press search.
  </h5>
  <br />
  <h5>
    In case you click search without typing anything the page will load the most
    popular movies by derfault.
  </h5>
</div>

<ng-template #ratingCustomTemplate let-i="index" let-v="value">
  <i
    [ngClass]="i < v ? 'fa fa-star fa-2x star-color' : 'fa fa-star-o fa-2x'"
  ></i>
</ng-template>
