<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <div class="container-fluid">
    <h4 class="navbar-brand">Popular movies</h4>
    <form
      #loginForm="ngForm"
      class="d-flex search-form"
      (ngSubmit)="search()"
      autocomplete="off"
    >
      <input
        name="searchQuery"
        class="form-control me-sm-2"
        [(ngModel)]="searchParam"
        type="text"
        placeholder="Search movies..."
      />
      <button class="btn btn-success ml-2" type="submit">Search</button>
    </form>
  </div>
</nav>
